In [1]:
import pandas as pd  # Data manipulation
import numpy as np   # Numerical operations
import matplotlib.pyplot as plt  # Visualization
import seaborn as sns  # Advanced visualization

# Enable inline plotting for Jupyter Notebook
%matplotlib inline

Matplotlib is building the font cache; this may take a moment.

In [2]:
# Define the file path
file_path = "/Users/sohamsolanki/Desktop/Calgary_Traffic_Analysis/data/Traffic_Incidents_2025.csv"

# Load the dataset
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,INCIDENT INFO,DESCRIPTION,START_DT,MODIFIED_DT,QUADRANT,Longitude,Latitude,Count,id,Point
0,Westbound 16 Avenue at Deerfoot Trail NE,Stalled vehicle. Partially blocking the right...,2022/06/21 07:31:40 AM,2022/06/21 07:33:16 AM,NE,-114.026687,51.067485,1,2022-06-21T07:31:4051.067485129276236-114.0266...,POINT (-114.02668672232672 51.067485129276236)
1,11 Avenue and 4 Street SW,Traffic incident. Blocking multiple lanes,2022/06/21 04:02:11 AM,2022/06/21 04:12:38 AM,SW,-114.071481,51.042624,1,2022-06-21T04:02:1151.04262449261462-114.07148...,POINT (-114.07148057660925 51.04262449261462)
2,68 Street and Memorial Drive E,Traffic incident.,2022/06/20 11:53:08 PM,2022/06/20 11:55:42 PM,NE,-113.935553,51.052474,1,2022-06-20T23:53:0851.0524735056658-113.935553...,POINT (-113.935553325751 51.0524735056658)
3,Eastbound 16 Avenue and 36 Street NE,Traffic incident. Blocking the left shoulder,2022/06/20 04:43:21 PM,2022/06/20 05:17:05 PM,NE,-113.989219,51.067086,1,2022-06-20T16:43:2151.06708565896752-113.98921...,POINT (-113.98921905311566 51.06708565896752)
4,Barlow Trail and 61 Avenue SE,Traffic incident.,2022/06/20 04:42:12 PM,2022/06/20 05:28:21 PM,SE,-113.985727,50.998727,1,2022-06-20T16:42:1250.99872748477766-113.98572...,POINT (-113.98572655353505 50.99872748477766)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52872 entries, 0 to 52871
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   INCIDENT INFO  52872 non-null  object
 1   DESCRIPTION    52870 non-null  object
 2   START_DT       52872 non-null  object
 3   MODIFIED_DT    38815 non-null  object
 4   QUADRANT       38813 non-null  object
 5   Longitude      52872 non-null  float64
 6   Latitude       52872 non-null  float64
 7   Count          52872 non-null  int64
 8   id             52872 non-null  object
 9   Point          52872 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 4.0+ MB

In [4]:
df.isnull().sum()

INCIDENT INFO        0
DESCRIPTION          2
START_DT             0
MODIFIED_DT      14057
QUADRANT         14059
Longitude            0
Latitude             0
Count                0
id                   0
Point                0
dtype: int64

In [5]:
df['DESCRIPTION'] = df['DESCRIPTION'].fillna('Unknown')
df = df.drop(columns=['MODIFIED_DT'])  # Dropped modified date coloum

In [6]:
df['QUADRANT'] = df['QUADRANT'].fillna('Unknown')
df['START_DT'] = pd.to_datetime(df['START_DT'], errors='coerce')
df['Year'] = df['START_DT'].dt.year
df['Month'] = df['START_DT'].dt.month
df['Day'] = df['START_DT'].dt.day
df['Hour'] = df['START_DT'].dt.hour
df['Weekday'] = df['START_DT'].dt.day_name()

In [7]:
#Classify description into accidents, traffic jams, hazards or others
def categorize_incident(description):
    description = str(description).lower()
    if "collision" in description or "crash" in description:
        return "Accident"
    elif "blocking" in description or "congestion" in description:
        return "Traffic Jam"
    elif "stalled" in description or "hazard" in description:
        return "Hazard"
    else:
        return "Other"

df['Incident_Category'] = df['DESCRIPTION'].apply(categorize_incident)

In [8]:
df.isnull().sum()

INCIDENT INFO        0
DESCRIPTION          0
START_DT             0
QUADRANT             0
Longitude            0
Latitude             0
Count                0
id                   0
Point                0
Year                 0
Month                0
Day                  0
Hour                 0
Weekday              0
Incident_Category    0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52872 entries, 0 to 52871
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   INCIDENT INFO      52872 non-null  object
 1   DESCRIPTION        52872 non-null  object
 2   START_DT           52872 non-null  datetime64[ns]
 3   QUADRANT           52872 non-null  object
 4   Longitude          52872 non-null  float64
 5   Latitude           52872 non-null  float64
 6   Count              52872 non-null  int64
 7   id                 52872 non-null  object
 8   Point              52872 non-null  object
 9   Year               52872 non-null  int32
 10  Month              52872 non-null  int32
 11  Day                52872 non-null  int32
 12  Hour               52872 non-null  int32
 13  Weekday            52872 non-null  object
 14  Incident_Category  52872 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(4), int64(1), object(7)
memory usage: 5.2+ MB

In [10]:
df[['START_DT', 'Year', 'Month', 'Day', 'Hour', 'Weekday']].head()

             START_DT  Year  Month  Day  Hour  Weekday
0 2022-06-21 07:31:40  2022      6   21     7  Tuesday
1 2022-06-21 04:02:11  2022      6   21     4  Tuesday
2 2022-06-20 23:53:08  2022      6   20    23   Monday
3 2022-06-20 16:43:21  2022      6   20    16   Monday
4 2022-06-20 16:42:12  2022      6   20    16   Monday

In [11]:
df[['DESCRIPTION', 'Incident_Category']].sample(10)

                                             DESCRIPTION Incident_Category
38374                           Single vehicle incident.             Other
5901   Multi-vehicle incident. Blocking the NB and WB...       Traffic Jam
44808                              Two vehicle incident.             Other
1947                                   Traffic incident.             Other
36875    Two vehicle incident.   Blocking the right lane       Traffic Jam
17517  Multi-vehicle incident.   Blocking the NB left...       Traffic Jam
6731                                   Traffic incident.             Other
49340                            Multi-vehicle incident.             Other
14410       Two vehicle incident. Blocking the left lane       Traffic Jam
1317                             Multi-vehicle incident.             Other

In [12]:
df.head()

,INCIDENT INFO,DESCRIPTION,START_DT,QUADRANT,Longitude,Latitude,Count,id,Point,Year,Month,Day,Hour,Weekday,Incident_Category
0,Westbound 16 Avenue at Deerfoot Trail NE,Stalled vehicle. Partially blocking the right...,2022-06-21 07:31:40,NE,-114.026687,51.067485,1,2022-06-21T07:31:4051.067485129276236-114.0266...,POINT (-114.02668672232672 51.067485129276236),2022,6,21,7,Tuesday,Traffic Jam
1,11 Avenue and 4 Street SW,Traffic incident. Blocking multiple lanes,2022-06-21 04:02:11,SW,-114.071481,51.042624,1,2022-06-21T04:02:1151.04262449261462-114.07148...,POINT (-114.07148057660925 51.04262449261462),2022,6,21,4,Tuesday,Traffic Jam
2,68 Street and Memorial Drive E,Traffic incident.,2022-06-20 23:53:08,NE,-113.935553,51.052474,1,2022-06-20T23:53:0851.0524735056658-113.935553...,POINT (-113.935553325751 51.0524735056658),2022,6,20,23,Monday,Other
3,Eastbound 16 Avenue and 36 Street NE,Traffic incident. Blocking the left shoulder,2022-06-20 16:43:21,NE,-113.989219,51.067086,1,2022-06-20T16:43:2151.06708565896752-113.98921...,POINT (-113.98921905311566 51.06708565896752),2022,6,20,16,Monday,Traffic Jam
4,Barlow Trail and 61 Avenue SE,Traffic incident.,2022-06-20 16:42:12,SE,-113.985727,50.998727,1,2022-06-20T16:42:1250.99872748477766-113.98572...,POINT (-113.98572655353505 50.99872748477766),2022,6,20,16,Monday,Other

In [13]:
df.to_csv("/Users/sohamsolanki/Desktop/Calgary_Traffic_Analysis/data/Cleaned_Traffic_data.csv", index=False)